body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px;
}

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.one-post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post-title a {
    color: #ffffff;
    text-decoration: none;
}

.post-title {
    color: #1abc9c;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.article-text {
    clear: both;
    padding-top: 10px;
}